*{
    padding: 0px;
    margin: 0px;
}
 body{
     width: 100%;
     margin: 0px auto;
     background-color: #f5f5f5;
     font-family: "Helvetica Neue", Helvetica, Arial, 文泉驛正黑, "WenQuanYi Zen Hei", "Hiragino Sans GB", "儷黑 Pro", "LiHei Pro", "Heiti TC", 微軟正黑體, "Microsoft JhengHei UI", "Microsoft JhengHei", sans-serif;
 }

 #header {
     width: 100%;
     height: 150px;
 }

#header .header-top {
     width: 100%;
     height: 30px;
     margin: 0px auto;
     background: #ee4d2d;
     align-items: center;
 }

#header .header-top .header-container {
    background: #ee4d2d;
    width: 1200px;
    height: 30px;
    margin: 0px auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header-menu-left {
    font-size: 13px;
    color: #fff;
    display: flex;
}

.knb {
    padding-left: 20px;
    padding-right: 10px;
    line-height: 22px;
    border-right: 1px solid #ccc;
}
.tud {
    padding-left: 5px;
    padding-right: 10px;
    line-height: 22px;
    border-right: 1px solid #ccc;
}
.kn {
    padding-left: 5px;
    padding-right: 10px;
    line-height: 23px;
    display: flex;
}
.kn a{
    text-decoration: none;
}
.fb img{
    width: 20px;
    height: 20px;
}
.insta img{
    width: 20px;
    height: 20px;
}

.header-menu-right {
    font-size: 13px;
    color: #fff;
    display: flex;
}
.tb {
    padding-left: 5px;
    padding-right: 10px;
}
.ht {
    padding-left: 5px;
    padding-right: 10px;
}
.tk {
    padding-left: 5px;
    padding-right: 10px;
}

#header .header-banner {
    width: 100%;
    height: 110px;
    background: #fff;
}
.header-banner .header-banner-container {
    padding-top: 20px;
    background: #fff;
    width: 1200px;
    height: 90px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
.header-banner .header-banner-container .header-banner-left  {
    display: flex;
}
.header-logo img{
    padding-left: 20px;
    width: 50px;
    height: 50px;
}
.header-title {
    margin-top: 10px;
}
.header-title a{
    height: 70px;
    font-weight: lighter;
    font-size: 35px;
    text-decoration: none;
    color: rgb(238, 75, 43);
    padding-right: 10px;
}
.header-controller {
    padding-left: 10px;
    margin-top: 20px;
}
.header-controller a{
    height: 50px;
    font-size: 25px;
    text-decoration: none;
    color: rgb(238, 75, 43);
    padding-right: 10px;
}
.a-stick {
    margin-top: 10px;
    width: 1px;
    height: 40px;
    background: rgb(238, 75, 43);
}
.header-search {
    width: 500px;
    margin-top: 10px;
}
.header-search form {
    width: 460px;
    height: 30px;
    display: flex;
    margin-left: 40px;
}
.header-search form input[type = "text"] {
    border: 2px solid rgb(238, 75, 43);
    height: 30px;
    width: 400px;
    text-indent: 10px;
}

.header-search form button[type = "submit"] {
    height: 34px;
    border: none;
    width: 55px;
    background: rgb(238, 75, 43);
    cursor: pointer;
}

#mid {
    padding-top: 20px;
    width: 1200px;
    margin: 0px auto;
}

.mid-one .mid-cart .code-free{
    border: 1px solid #f3db97;
    background: #fff;
    height: 30px;
}
.mid-one .mid-cart .code-free .container{
    display: flex;
}
.mid-one .mid-cart .code-free .container .free-shopping-truck img{
    padding-left: 20px;
}
.mid-one .mid-cart .code-free .container .code-free-content {
    line-height: 30px;
    text-indent: 10px;
}

.mid-title {
    width: 1200px;
    margin-top: 20px;
    background: #fff;
    display: flex;
    justify-content: space-between;
}
.mid-title1 {
    margin-top: -25px;
    width: 600px;
    height: 50px;
    line-height: 50px;
    color: rgb(108 108 108);
    display: flex;
    justify-content: space-between;
}
.square {
    width: 600px;
    padding-left: 50px;
}
.square input[type="checkbox"] {
    width: 15px;
    height: 15px;
}
.square input[type="checkbox"] + label{
    padding-left: 20px;
    line-height: 50px;
    color: rgb(108 108 108);
}
.mid-sp {
    margin-top: 20px;
}
.mid-sp1 {
    height: 440px;
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
}
.square1 {
    padding-left: 50px;
    border-bottom: 1px solid #e8e8e8;
    line-height: 50px;
}
.square1 input[type="checkbox"] {
    width: 15px;
    height: 15px;
}
.square1 input[type="checkbox"] + label{
    padding-left: 20px;
    line-height: 50px;
    color: rgb(108 108 108);
    border: 0px;
}
.square1 a {
    text-decoration: none;
    color: #fff;
    background: #ee4d2d;
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
    padding: 2px 4px 2px 4px;
    border-radius: 5%;
}
.square1 label {
    font-size: 14px;
    color: rgb(0 0 0 / 87%);
    width: 470px;
}
.mid-sanpham-detail {
    margin: 0px auto;
    margin-top: 20px;
    width: 1170px;
    height: 120px;
    background: #fff;
    display: flex;
    border: 1px solid #e8e8e8;
}
.square2 {
    padding-top: 10px;
    width: 370px;
    height: 100px;
    padding-left: 50px;
    display: flex;
}
.square2 input[type="checkbox"] {
    background-color: #ee4d2d;
    border: 1px solid #ee4d2d;
    margin-top: 40px;
}
.square2 label {
    width: 470px;
}
.square2 label a {
    font-size: 13px;
    white-space: pre-wrap;
    color: #000;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
}
.square2 label img{
    width: 50px;
    height: 25px;
}
.phanloai {
    width: 120px;
}
.mid-sp-detail {
    padding-left: 45px;
    width: 600px;
    height: 300px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
}
.dongia {
    margin-top: 25px;
    width: 150px;
    display: flex;
}
.dongia1 {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: line-through;
    color: rgb(0 0 0 / 54%);
}
.soluong {
    margin-top: 25px;
    display: flex;
    width: 150px;
}
.soluong .tang input{
    width: 30px;
    height: 29px;
    background-color: rgb(255 255 255);
    border: 1px solid #ccc;
}
.soluong .giam input{
    width: 30px;
    height: 29px;
    background-color: rgb(255 255 255);
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    margin-left: -2px;
}
.soluong .blank-tang-giam input{
    width: 30px;
    height: 27px;
    text-align: center;
    background-color: rgb(255 255 255);
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    margin-left: -2px;
}
.soluong1 {
    margin-top: 25px;
    display: flex;
    width: 150px;
}
.soluong1 .tang1 input{
    width: 30px;
    height: 29px;
    background-color: rgb(255 255 255);
    border: 1px solid #ccc;
}
.soluong1 .giam1 input{
    width: 30px;
    height: 29px;
    background-color: rgb(255 255 255);
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    margin-left: -2px;
}
.soluong1 .blank-tang-giam1 input{
    width: 30px;
    height: 27px;
    text-align: center;
    background-color: rgb(255 255 255);
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    margin-left: -2px;
}
.sotien {
    margin-left: -10px;
    margin-top: 25px;
    width: 100px;
}
.sotien p{
    margin-left: 10px;
    color: #ee4d2d  ;
}
.thaotac {
    margin-top: 25px;
    width: 150px;
    height: 200px;
}
.thaotac .chucnang-xoa {
    margin-top: -12px;
}
.thaotac .chucnang-xoa a {
    text-decoration: none;
    font-size: 15px;
    padding-left: 30px;
    color: #000;
}
.thaotac .chucnang-xoa a:hover {
    color: #ee4d2d;
}
.thaotac .chuc-nang-noi-chung {
    display: flex;
    margin-left: -20px;
    margin-top: -20px;
    margin-right: 10px;
}
.thaotac .timkiemsanphantuongtu button{
    background-color: #fff;
    border: 0px;
    color: #ee4d2d;
    font-size: 15px;
    width: 150px;
    cursor: pointer;
}
.thaotac .button-muiten {
    margin-left: -20px; 
    margin-right: 10px;
}
.thaotac .button-muiten .button-mui-ten {
    border: 5px solid transparent;
    border-top: 5px solid #ee4d2d;
    border-right: 5px solid #ee4d2d;
    margin: 15px;
    transform: rotate(135deg);
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.show {display:block;}

.table-product {
    margin-left: -1015px;
    width: 1200px;
    background-color: #fff;
    border:1px solid #fe6433;
}

.table-menu-product {
    width: 185px;
    height: 335px;
    margin: 5px;
    background: #fff;
    float: left;
    border: 1px solid #e8e8e8;
    transition: all 0.1s 0.1s;
    -moz-animation: all 0.1s 0.1s;
    -webkit-animation: all 0.1s 0.1s;
}

.table-menu-product:hover {
    margin-left: 2px;
}

.table-menu-product a {
    width: 185px;
    height: 335px;
    text-decoration: none;
}

.menu-product-content-item {
    width: 185px;
    height: 192px;
}

.menu-product-content-item img {
    width: 180px;
    height: 192px;
    margin: 10px 3px 0px 3px;
}

.menu-product-content-detail {
    width: 175px;
    height: auto;
    margin: 10px 7px 0px 7px;
}

.menu-product-content-detail-name {
    width: 185px;
    height: 40px;
    margin-top: 20px;
    line-height: 20px;
}

.menu-product-content-detail-name > span {
    width: 185px;
    height: 20px;
    padding-top: 2px;
    color: #4c4c4c;
    font-size: 14px;
}

.menu-product-content-detail-price {
    width: 185px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.menu-product-content-detail-price span {
    height: 30px;
    color: #fe6433;
    font-size: 15px;
}

.menu-product-content-detail-price img {
    width: 25px;
    height: 20px;
    padding: 5px;
}

.menu-product-content-detail-sold {
    height: 30px;
    line-height: 30px;
    margin: 0px auto;
    justify-content: space-between;
    display: flex;
}

.menu-product-content-detail-sold-i {
    height: 30px;
    line-height: 30px;
}

.menu-product-content-detail-sold span {
    height: 30px;
    line-height: 32px;
    color: #4c4c4c;
    font-size: 13px;
}

.menu-product-content-detail-address span {
    height: 25px;
    line-height: 25px;
    font-size: 11px;
    float: right;
    color: #4c4c4c;
}

.pagination {
    width: 1000px;
    height: 60px;
    clear: left;
    display: flex;
}

.pagination-home-product-pagination {
    width: auto;
    height: 30px;
    line-height: 30px;
    padding: 15px 0px;
    margin: 0px auto;
    display: flex;
}

.pagination-home-product-pagination li {
    list-style: none;
    width: auto;
    padding: 0px 25px;
}

.pagination-home-product-pagination li a {
    text-decoration: none;
    width: 40px;
    height: 30px;
    color: #505050;
    font-size: 14px;
}
.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.show {display:block;}

.more-detail1 {
    margin-top: 20px;
    padding-left: 50px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    line-height: 40px;
    color: rgb(33 33 33);
    font-size: 15px;
    display: flex;
}
.more-detail1 img {
    display: block;
    margin-top: 7px;
    width: 24px;
    height: 24px;
    padding-right: 10px;
}
.more-detail1 a{
    padding-left: 20px;
    text-decoration: none;
    color: #05a;
}
.more-detail2 {
    padding-left: 50px;
    line-height: 40px;
    color: rgb(33 33 33);
    font-size: 15px;
    display: flex;
}
.more-detail2 img {
    display: block;
    margin-top: 7px;
    width: 24px;
    height: 24px;
    padding-right: 10px;
}
.more-detail2 a{
    padding-left: 20px;
    text-decoration: none;
    color: #05a;
}
.mid-thanhtoan {
    margin-top: 25px;
    width: 1200px;
    height: 100px;
    background: #fff;
}
.mid-thanhtoan1 {
    padding-left: 600px;
    justify-content: space-between;
    display: flex;
    margin-top: 20px;
    line-height: 40px;
    color: rgb(33 33 33);
    font-size: 15px;
    border-bottom: 1px dashed #e8e8e8;
}
.mid-thanhtoan1 img {
    display: block;
    margin-top: 7px;
    width: 24px;
    height: 24px;
    padding-right: 10px;
}
.voucher {
    display: flex;
}
.nhapma a{
    text-decoration: none;
    color: #05a;
    padding-right: 30px;
}
.mid-thanhtoan2 {
    padding-left: 580px;
    justify-content: space-between;
    display: flex;
    line-height: 40px;
    color: rgb(33 33 33);
    font-size: 15px;
    border-bottom: 1px dashed #e8e8e8;
}
.sudung-shopee-xu {
    display: flex;
}
.sudung-shopee-xu input[type="checkbox"] {
    margin-top: 13px;
    margin-right: 10px;
    opacity: 0.2;
}
.dollar-symbol img {
    margin-top: 11px;
    width: 16px;
    height: 16px;
    opacity: 0.4;
    margin-right: 5px;
}
.question-mark img {
    margin-top: 13px;
    opacity: 0.4;
    margin-left: 5px;
    margin-right: 5px;
}
.shopee-xu {
    display: block;
    opacity: 0.2;
    margin-right: 10px;
}
.shopee-xu-on-off {
    color: #929292;
}
.tien {
    padding-right: 30px;
    opacity: 0.4;
}
.mid-thanhtoan3 {
    justify-content: space-between;
    display: flex;
    line-height: 40px;
    color: rgb(33 33 33);
    font-size: 15px;
    background: #fff;
}
.mid-thanhtoan3-left {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    width: 600px;
    height: 30px;
    margin-left: 20px;
}
.mid-thanhtoan3-left input {
    margin-top:10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 20px;
    height: 20px;
    opacity: 0.4;
}
.mid-thanhtoan3-left .chon-tat-ca a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    margin-right: 20px;
    line-height: 44px;
}
.mid-thanhtoan3-left .xoa a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    margin-right: 20px;
    line-height: 46px;
}
.mid-thanhtoan3-left .luu a{
    text-decoration: none;
    font-size: 16px;
    margin-right: 10px;
    line-height: 46px;
    color: #ee4d2d;
}
.mid-thanhtoan3-right {
    padding-left: 50px;
    width: 600px;
    display: flex;
}
.mid-thanhtoan3-right .tongthanhtoan {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #000;
    font-size: 16px;
    margin-right: 20px;
    line-height: 46px;
}
.mid-thanhtoan3-right .Tien {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16p;
    line-height: 46px;
    color: #ee4d2d;
    margin-right: 50px;
}
.mid-thanhtoan3-right input {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #ee4d2d;
    border: 0px;
    color: #fff;
    font-size: 14px;
    width: 200px;
    height: 40px;
}
.mid-thanhtoan3-right input:hover {
    cursor: pointer;
}
.mid-two {
    width: 1200px;
    margin-top: 100px;
}
.mid-two .container{
    width: 1200px;
}